/* Fonts*/
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('fonts/ProximaNovaRegular/ProximaNova-Regular.eot');
}
@font-face {
	font-family: 'ProximaNovaBlack';
	src: url('fonts/ProximaNovaBlack/ProximaNova-Black.eot');
}
@font-face {
	font-family: 'ProximaNovaExtrabold';
	src: url('fonts/ProximaNovaExtrabld/ProximaNova-Extrabld.eot');
}

* {
	box-sizing: border-box;
}

body {
	min-width: 100vw;
	min-height: 100vh;
}

.container {
	padding: 20px;
	background: #eee;
}

.list li {
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 2000px;
	margin-bottom: 15px;
}